extends layout

block content
    h1= title
    p Upload a CSV

    //a: img(src='images/icon.png')

    form(action="upload", method="post", enctype="multipart/form-data")
      input(type="file", name="csv[file]")
      input(type="submit", value="Upload")


    //script(src='bower_components/angular/angular.js')
    //script(src='bower_components/jquery/dist/jquery.js')
    //script(src='bower_components/d3/d3.js')
    //script(src='bower_components/angular/angular.js')
    //script(src='javascripts/app.js')
