extends layout

block content
	h1(class="text-center", style="position:fixed") #{title}
	br
	script(src='bower_components/angular/angular.js')
	script(src='bower_components/jquery/dist/jquery.js')
	script(src='bower_components/d3/d3.js')
	script(src='bower_components/angular/angular.js')
	script(src='javascripts/app.js')
    
   
    
    