<!DOCTYPE html>

<html ng-app="figure">

<head>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="bower_components/d3/d3.js"></script>
<script type="text/javascript" src="javascripts/lvl-uuid.js"></script>
<script type="text/javascript" src="javascripts/lvl-drag-drop.js"></script>

<script type="text/javascript" src="javascripts/jquery.csv-0.71.js"></script>

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="javascripts/nv.d3.js"></script>
<link rel="stylesheet" href="stylesheets/nv.d3.css">

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<script type="text/javascript" src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
<link rel="stylesheet" href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css'/>
<script type="text/javascript" src="javascripts/us-states.js"></script>

<script type="text/javascript" src="javascripts/client.js"></script>
<script type="text/javascript" src="javascripts/app.js"></script>

</head>

<body ng-controller="mainCtrl">
<div class="panel panel-info row text-center col-md-12 col-xs-12" style="position: fixed; z-index: 999999; opacity: 0.7; margin-top: -52px;">
    <div class="panel-heading" style="margin-left: -70px;">
        <h1>Data Visualization</h1>
    </div>
</div>

<br>
<br>
<br>

<ul class="nav nav-pills">
    <li id="tab1" class="active" style="cursor: pointer;" ng-click="selectTab(1)">
        <a data-toggle="tab">Input Data or Choose</a>
    </li>
    <li id="tab2" class="dropdown" style="cursor: pointer; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;">
        <a id="sampleData" data-toggle="dropdown" class="dropdown-toggle" ng-click="selectTab(2);">Sample Data<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a ng-click="selectSampleData(1)">Line Graph Sample Data</a></li>
            <li><a ng-click="selectSampleData(2)">Pie Chart Sample Data</a></li>
            <li><a ng-click="selectSampleData(3)">Choropleth Map Sample Data</a></li>
        </ul>
    </li>
</ul>

<div class="row">
    <br>
    <textarea id="data" class="col-md-12 col-xs-12" rows="20" style="resize: none;" placeholder="Enter Data Here" spellcheck="false"></textarea>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
        <div id="a" class="btn-group">
          <a id="visualizationDropdown" class="btn btn-primary" style="cursor: default;"><i class="fa"></i>Select Visualization</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-repeat="v in visualizationList" ng-click="selectVisualization(v)"><i class="fa"></i>{{v}}</a></li>
          </ul>
        </div>
    </div>

    <div class="col-lg 4 col-md-4 col-sm-3 col-xs-3" style="margin-right: 2%;">
        <div class="panel panel-warning row text-center">
            <div class="panel-heading">
                <h3>Description</h3>
            </div>
            <textarea class="col-lg-12 col-md-12 col-sm-12 col-xs-12" rows="8"
                      id="visualizationDescription" style="resize: none; border: none;"></textarea>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
        <div class="panel panel-danger row text-center">
            <div class="panel-heading">
                <h3>Visualization Preview</h3>
            </div>
            <img id="previewImage" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="images/unavailable.png">
        </div>
    </div>
</div>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <div class="panel panel-primary text-center">
            <div id="draggable-fields-heading" class="panel-heading">
                <h3>Draggable Fields</h3>
            </div>
            <div style="overflow: scroll; height: 226px;">
                <ul id="fields" class="nav nav-pills">
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h3>Droppable Area</h3>
            </div>
            <div id="dropArea" style="padding: 5px;">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3 id="title"></h3>
            </div>
            <div id="graph-result" class="panel-body">
                <svg>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 style="text-align: right;"><i>I can show you the world...</i></h3>
            </div>
            <div class="panel-body">
                <div id="chart" style="height: 600px;">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>