#map {top:0; bottom:0; width:100%; }

.map-legend .swatch
{
	width:20px;
	height:20px;
	float:left;
	margin-right:10px;
}

.leaflet-popup-close-button
{
	display: none;
}

.leaflet-popup-content-wrapper
{
	pointer-events: none;
}