/* Label/display elements */
.text-wrap {
    display: inline-block;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltip-inner {
    min-width: 75px;
}

.alert-top-margin {
    @extend .alert;
    margin-top: 20px;
    margin-bottom: 0;
}

.fromFileInputError {
    margin-top: 5px;
}

.graph-doc-link {
    font-size: 10px;
}

.drop-pill {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px;
    border: 1px solid lightgray;
    margin: 3px 0;
    cursor: move;
}

.fields {
    height: 300px;
    overflow: auto;
}

.chart-config {
    @extend .fields;
}

.field {
    border: 2px solid lightblue;
    margin: 5px auto 5px 0;
    background-color: aliceblue;
    padding: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);

    &:hover {
        cursor: -webkit-grab;
    }

    &:active {
        cursor: -webkit-grabbing;
        background-color: lightblue;
    }
}

/* Input elements */
.raw-data {
    margin: 20px 0;
    resize: none;
    background-color: white;
}

.CodeMirror {
    @extend .raw-data;
    border: 1px solid lightgray;
}

/* Control elements */
.glyph-btn {
    margin: 8.5px 3px;
    cursor: pointer;
    -webkit-user-select: none;
}

.glyph-btn-selected {
    @extend .glyph-btn;
    opacity: 0.5;
}

/* Table elements */
.raw-data-table {
    height: 300px;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    th {
        -webkit-user-select: none;
        min-width: 120px;
    }
}

.sort-dir {
    @extend .fa;
    margin-top: 3px;
}

.sort-asc {
    @extend .sort-dir;
    @extend .fa-long-arrow-up;
}

.sort-desc {
    @extend .sort-dir;
    @extend .fa-long-arrow-down;
}

/* Images */
.graph {
    margin: 4px;
    height: 150px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}
