<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

    <section class="data-input">
        <h2>First, select a data source or skip ahead to manual entry...</h2>

        <div class="row col-md-12">
            <div class="btn-group">
                <!-- Handle the buttons like toggles. -->
                <button type="button" class="btn btn-default"
                    ng-click="inputMode === 'file' ? inputMode = 'raw' : inputMode = 'file'"
                    ng-class="{'active': inputMode === 'file'}">File</button>
                <button type="button" class="btn btn-default" disabled>URL</button>
                <button type="button" class="btn btn-default" disabled>Database</button>
            </div>
            <span class="pull-right">
                <i ng-click="setRawView(true)"
                    ng-class="{'glyph-btn-selected': rawView == false}"
                    class="fa fa-list-ol glyph-btn" tooltip-placement="top" tooltip="Raw View"></i>
                <i ng-click="setRawView(false)"
                    ng-class="{'glyph-btn-selected': rawView == true}"
                    class="fa fa-table glyph-btn" tooltip-placement="top" tooltip="Table View"></i>
            </span>
        </div>

        <!-- File parse form -->
        <div class="row col-md-12 fromFileForm" ng-show="inputMode === 'file'" style="margin-top: 20px;">
            <input id="fromFileInput" type="file" class="file">
        </div>

        <!-- Parse status messages. -->
        <div class="row col-md-12">
            <div class="alert-top-margin alert-danger" ng-show="parseError.length > 0">
                <span class="fa fa-thumbs-down"></span> {{parseError}}
            </div>
            <div class="alert-top-margin alert-success" ng-show="parsedData.length > 0">
                <span class="fa fa-thumbs-o-up"></span> {{parsedData.length}} record(s) successfully parsed!
            </div>
        </div>

        <div ng-show="rawView == true" class="row col-md-12">
            <textarea ui-codemirror="editorOptions" class="raw-data form-control" rows='15'
                placeholder="If you have raw data, you can enter it here. Include a header row with the columns!"/>
        </div>

        <div ng-show="rawView == false" class="row col-md-12 raw-data-table">
            <div class="alert alert-warning" ng-show="parsedData.length == 0" style="margin-right: 15px;">
                <b>Oops!</b> You have no parsed data.
            </div>
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <th ng-repeat="field in fields"
                        ng-class="{'info': columnSort.sortColumn == field}"
                        ng-click="columnSort.sortColumn=field;columnSort.reverse=!columnSort.reverse;console.log(columnSort.sortColumn);">
                        {{field}}
                        <span ng-class="{'sort-asc': columnSort.sortColumn == field && columnSort.reverse,
                            'sort-desc': columnSort.sortColumn == field && !columnSort.reverse,
                            'sort-none': columnSort.sortColumn != field}"
                            class="pull-right"></span>
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="datum in parsedData | orderBy:formatColumnSort:columnSort.reverse">
                        <td ng-repeat="field in fields" sortable="field">
                            {{datum[field]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div ng-hide="parsedData.length == 0">
        <section class="visualization-options">
            <h2>Which visualization would you like to use?</h2>

            <div class="row">
                <div class="graph-descriptions col-md-3">
                    Graph descriptions.
                </div>

                <div class="graph-images col-md-9">
                    Sample images.
                </div>
            </div>
        </section>

        <section class="map-dimensions">
            <h2>Connect your data.</h2>
        </section>

        <section class="analyze">
            <div class="row">
                <div class="fields col-md-3">
                    Draggable fields from data.
                </div>

                <div class="chart-config col-md-9">
                    Drop are for fields.
                </div>
            </div>
        </section>
    </div>
</div>

<footer style="text-align: center;">
    <hr style="width: 50%" />
    <p>Work in progress. Inspiration from <a href="http://app.raw.densitydesign.org/">RAW</a>.</p>
</footer>

<script type="text/javascript">
    $(document).ready( function() {
        $('#fromFileInput').fileinput({
            uploadLabel: 'Parse',
            showPreview: false,
            allowedFileExtensions: ['csv']
        });

        $('.kv-fileinput-upload').click( function() {
            var file = $("input[type=file]")[0].files[0];

            if (!file) {
                return;
            }

            // Reset to raw view before parsing...
            $('.fa-list-ol').click();

            var reader = new FileReader();
            reader.onload = function(e) {
                var contents = e.target.result;

                var _scope = angular.element($('#fromFileInput')).scope();
                _scope.$apply( function() {
                    _scope.setCodemirrorText(contents);
                });
            };
            reader.readAsText(file);
        });
    })
</script>
