.vis-description {
    @extend .col-xs-6;
    @extend .col-sm-6;
    @extend .col-md-6;
    @extend .well;
}

.darkClass {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.lvl-over {
    border-color: rgba(61, 187, 96, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(61, 187, 96, 0.6);
    outline: 0 none;
}

.drop-pill {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px;
    border: 1px solid lightgray;
    margin: 3px 0;
    cursor: move;
}

.drop-pill-drag {
    background-color: beige;
}

.saveBtn {
    float: right;
}