<script>
    L_PREFER_CANVAS = true;
</script>

<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-controller="FigureOldCtrl" ng-init="page = 1">

    <img id = "loader" src = "assets/images/ajax-loader.gif" style = "position: fixed; z-index: 9999; display: none;">
    <div id="darkLayer" class="darkClass" style="display:none"></div>

    <!-- 1st Page -->
    <section ng-show="true"> <!-- Can be changed to page == 1 -->
        <div class="container">
            <div class="welcome-text">
                <h1 ng-click="test()">Choose a Data Input Method</h1>
            </div>
            <!-- Top three-button grouping -->
            <div class="btn-group btn-group-justified" ng-init="dataTab = 1">
                <!-- Manual entry button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default"
                        ng-class="{active:dataTab == 1}" ng-click="dataTab = 1">
                        Enter Data   <span class="glyphicon glyphicon-pencil"></span></button>
                </div>

                <!-- Upload button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default"
                        ng-class="{active:dataTab == 2}" ng-click="dataTab = 2">
                        Upload Data <span class="glyphicon glyphicon-folder-open"></span>
                    </button>
                </div>

                <!-- My Uploads Dropdown -->
                <div class="btn-group" ng-class="{active:dataTab == 3}" ng-click="dataTab = 3">
                    <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                        My Uploads <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="storedList">

                    </ul>
                </div>

                <!-- Sample Data Dropdown -->
                <div class="btn-group" ng-class="{active:dataTab == 4}" ng-click="dataTab = 4">
                    <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                        Sample Data <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id = "sampleData">

                    </ul>
                </div>

                <div class="btn-group" ng-class="{active:dataTab == 5}" ng-click="dataTab = 5">
                    <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                        ifloops.com <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" id="mysqlTables">

                    </ul>
                </div>

                <div class="btn-group" ng-class="{active:dataTab == 6}" ng-click="dataTab = 6;">
                    <button id ="tableFormat" type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                        Table Format <span class="glyphicon glyphicon-list"></span>
                    </button>
                </div>

            </div>
            <br>
            <div class="col-xs-6 col-sm-6 col-md-6" ng-show="dataTab == 2">
                <h4>Upload a CSV File</h4>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn-file">
                            <input type="file" class="btn-file" multiple>
                        </span>
                    </span>
                    <input type="text" class="form-control" ng-model="uploadArea" readonly>
                </div>

                <br>

                <!-- Submit button for upload -->
                <div class="submit-button">
                    <button class="btn btn-primary" type="submit"
                        role="button">Submit</button>
                </div>

                <br>
                <!--
                <span class="help-block">
                    Please select a file to upload from your computer
                </span>
                 -->
            </div>
            <!-- Text area for manual data input -->
            <textarea class="form-control" id="area" rows="15" placeholder="Enter Data Here"
                ng-model="textAreaTop" ng-show="dataTab == 1 || dataTab == 2 || dataTab == 3 || dataTab == 4 || dataTab == 5" style = "resize: none;"></textarea>

            <div class = "well" ng-show = "dataTab == 6" style = "overflow:auto; height: 314px;">
                <table class = "table table-bordered tablesorter" id = "dataTable" style = "background-color: white;">

                </table>
            </div>

            <br>
            <!-- Submit button -->
            <!--
            <div class="submit-button">
                <a href="" class="btn btn-primary btn-lg" ng-class="{disabled:!textArea.length}" role="button"
                    ng-click="page = 2">Submit</a>
            </div>
             -->
        </div>
    </section>

    <!-- 2nd Page -->
    <section ng-show="true"> <!-- Can be changed to page == 2 -->
        <div class="container">
            <div class="row-fluid">
            <!-- Back button -->
            <!--
                <div class="back-button">
                    <a href="" class="btn btn-primary btn-lg" role="button"
                        ng-click="page = 1">Back</a>
                </div>
             -->
            <!-- Submit button for page 2 -->
            <!--
                <div class="submit-button2">
                    <a href="" class="btn btn-primary btn-lg" role="button"
                        ng-click="page = 3">Submit</a>
                </div>
             -->
                <div class="welcome-text">
                    <h1>Choose a Graphical Representation</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="" ng-init="graphTab = 1">
                    <ul class="nav nav-tabs">
                        <li ng-class="{active:graphTab == 1}" ng-click="graphTab = 1; selectVisualizationType()">
                            <a href="">Bar</a>
                        </li>
                        <li ng-class="{active:graphTab == 2}" ng-click="graphTab = 2; selectVisualizationType()">
                            <a href="">Line</a>
                        </li>
                        <li ng-class="{active:graphTab == 3}" ng-click="graphTab = 3; selectVisualizationType()">
                            <a href="">Pie</a>
                        </li>
                        <li ng-class="{active:graphTab == 4}" ng-click="graphTab = 4; selectVisualizationType()">
                            <a href="">Map</a>
                        </li>
                        <li ng-class="{active:graphTab == 5}" ng-click="graphTab = 5; selectVisualizationType()">
                            <a href="">Stats</a>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="pics col-xs-6 col-sm-6 col-md-6">
                    <br>
                    <img src="assets/images/bargraph.png" class = "img-responsive" alt="Responsive image" ng-show="graphTab == 1">
                    <img src="assets/images/linechart.png" class="img-responsive" alt="Responsive image" ng-show="graphTab == 2">
                    <img src="assets/images/piechart.png" class="img-responsive" alt="Responsive image" ng-show="graphTab == 3">
                    <img src="assets/images/choroplethmap.png" class="img-responsive" alt="Responsive image" ng-show="graphTab == 4">
                    <img src="assets/images/normal_distribution.png" class="img-responsive" alt="Responsive image" ng-show="graphTab == 5">
                </div>
                <br> <br> <br>
                <div class="vis-description" ng-show="graphTab == 1">A
                    bar graph displays data visually and is sometimes called a bar
                    chart or a bar graph. Data is displayed either horizontally or
                    vertically and allows viewers to compare items displayed. Data
                    displayed will relate to things like amounts, characteristics,
                    times and frequency etc. A bar graph displays information in a way
                    that helps us to make generalizations and conclusions quickly and
                    easily. A typical bar graph will have a label, axis, scales and
                    bars. Bar graphs are used to display all kinds of information such
                    as, numbers of females versus males in a school, sales of items
                    during particular times of a year. Bar graphs are ideal for
                    comparing two or more values.</div>
                <div class="vis-description" ng-show="graphTab == 2">A
                    line chart or line graph is a type of chart which displays
                    information as a series of data points called 'markers' connected
                    by straight line segments. It is a basic type of chart common in
                    many fields. It is similar to a scatter plot except that the
                    measurement points are ordered (typically by their x-axis value)
                    and joined with straight line segments. Line Charts show how a
                    particular data changes at equal intervals of time. A line chart
                    is often used to visualize a trend in data over intervals of time
                    – a time series – thus the line is often drawn chronologically.</div>
                <div class="vis-description" ng-show="graphTab == 3">A
                    pie chart is a circular chart divided into sectors, illustrating
                    numerical proportion. In a pie chart, the arc length of each
                    sector (and consequently its central angle and area), is
                    proportional to the quantity it represents. While it is named for
                    its resemblance to a pie which has been sliced, there are
                    variations on the way it can be presented.</div>
                <div class="vis-description" ng-show="graphTab == 4">A
                    choropleth map is a map that uses differences in shading, coloring,
                    or the placing of symbols within predefined areas to indicate the
                    average values of a property or quantity in those areas.</div>
                <div class="vis-description"
                    ng-show="graphTab == 5">This tab will show the statistical
                    data analysis for the selected data. Utilizing data from some
                    population, the stats tab will give you a deeper numerical and
                    statistical understanding of the underlying data, allowing you to
                    describe it meaningfully, to draw conclusions from it, and help
                    you make informed decisions. The stats tab provides general
                    statistical data, as well as giving you the option to make custom
                    calculations, all from within the application.</div>
            </div>
    </section>

    <!-- 3rd Page -->
    <section ng-show="true"> <!-- Can be changed to page == 3 -->
        <div class="container">
            <div class="row-fluid">
                <!-- Back button -->
                <!--
                <div class="back-button">
                    <a href="" class="btn btn-primary btn-lg" role="button"
                        ng-click="page = 2">Back</a>
                </div>
                 -->
                 <br>
                 <br>
                <div class="welcome-text">
                    <h1>Finalize Visualization</h1>
                </div>
                <!-- Data field area to the left of screen for drag-and-drop -->
                <div class="col-xs-3 col-sm-3 col-md-3 dataField">
                    <h3>Data Fields</h3>
                    <div class="well inner-table">
                        <table class="table table-hover table-condensed">
                            <tbody class="fields">
                                <!-- tr missing  ng-repeat="field in fields" for test pursposes-->
                                <!-- <tr ng-repeat="field in fields" x-lvl-draggable = "true" draggable = "true" id = "{{field}}">
                                    <td>{{field}}</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Operators area if statistics tab is active -->
                    <div ng-show="graphTab == 5">
                        <h3>Operators</h3>
                        <div class="well inner-table">
                            <table class="table table-hover table-condensed">
                                <tbody class="operators">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <!-- Visualization Tab View -->
                <div ng-show="graphTab != 5">

                    <!-- Bar Graphs -->
                    <form class="col-xs-9 col-sm-9 col-md-9 well" ng-show="graphTab == 1">
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>X-Axis</label>
                            <input id="xAxisBar" type="email" class="form-control" placeholder="Drop field here" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Title</label>
                            <input id="titleBar" type="email" class="form-control" placeholder="Enter Title Here">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Y-Axis</label>
                            <input id="yAxisBar" type="email" class="form-control" placeholder="Drop field here" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <button id="clearBtn" type="button" class="btn btn-danger" ng-click="clearAll()">Clear Fields</button>
                            <button type="button" class="btn btn-success saveBtn" ng-click="saveFigure()" disabled="disabled">Save</button>
                        </div>
                        <div id="chart1" class="pics col-xs-11 col-sm-11 col-md-11" style="height: 100%;">
                            <svg id="barGraph" style="width: 100%; height: 60%;"></svg>
                        </div>
                        <canvas id = "barCanvas" width = "800" height = "500" style = "display: none;"></canvas>
                        <!-- <img id = "barImage" width = "800" height = "500" style = "display: none;"></img> -->
                    </form>

                    <!-- Line Graphs -->
                    <form class="col-xs-9 col-sm-9 col-md-9 well" ng-show="graphTab == 2">
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>X-Axis</label>
                            <input id="xAxisLine" type="email" class="form-control" placeholder="Drop field here" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Y-Axis</label>
                            <input id="yAxisLine" type="email" class="form-control" placeholder="Drop field here" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Optional Grouping</label>
                            <input id="groupingLine" type="email" class="form-control" placeholder="Drop field here" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <button id="clearBtn" type="button" class="btn btn-danger" ng-click="clearAll()">Clear Fields</button>
                            <button type="button" class="btn btn-success saveBtn" ng-click="saveFigure()" disabled="disabled">Save</button>
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Title</label>
                            <input id="titleLine" type="email" class="form-control" placeholder="Enter Title Here">
                        </div>
                        <div id="chart2" class="pics col-xs-11 col-sm-11 col-md-11" style="height: 100%;">
                            <svg id="lineGraph" style="width: 105%; height: 100%;"></svg>
                        </div>
                        <canvas id = "lineCanvas" width = "1050" height = "850" style = "display: none;"></canvas>
                    <!--    <img id = "lineImage" width = "1050", height = "850" style = "display: none;"></img> -->
                    </form>

                    <!-- Pie Graphs -->
                    <form class="col-xs-9 col-sm-9 col-md-9 well" ng-show="graphTab == 3">
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Value Field</label> <input id="valueField" type="email" class="form-control" placeholder="Drop field here"
                                x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Title</label>
                            <input id="titlePie" type="email" class="form-control" placeholder="Enter Title Here">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Count(Optional)</label> <input id="countField"
                                type="email" class="form-control" placeholder="Drop field here"
                                x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <button id="clearBtn" type="button" class="btn btn-danger" ng-click="clearAll()">Clear Fields</button>
                            <button type="button" class="btn btn-success saveBtn" ng-click="saveFigure()" disabled="disabled">Save</button>
                        </div>
                        <div id="chart3" class="pics col-xs-11 col-sm-11 col-md-11" style="height: 20%;">
                            <svg id="pieChart" style="width: 100%; height: 60%;"></svg>
                        </div>
                        <canvas id = "pieCanvas" width = "800" height = "470" style = "display: none;"></canvas>
                        <!-- <img id = "pieImage" width = "800"; height = "470" style = "display: none;"></img> -->
                    </form>

                    <!-- Maps -->
                    <form id = "mapWell" class="col-xs-9 col-sm-9 col-md-9 well" ng-show="graphTab == 4">
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Location Field</label>
                            <input id="locationField" type="email" class="form-control" placeholder="Drop field here" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <label>Title</label>
                            <input id="titleChoroplethMap" type="email" class="form-control" placeholder="Enter Title Here">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4 ">
                            <label>Value Field</label>
                            <input id="choroplethValueField" type="email" class="form-control" placeholder="Drop field here"
                                x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)">
                        </div>
                        <div class="form-group col-xs-4 col-sm-4 col-md-4">
                            <button id="clearBtn" type="button" class="btn btn-danger" ng-click="clearAll()">Clear Fields</button>
                            <button type="button" class="btn btn-success saveBtn" ng-click="saveFigure()" disabled="disabled">Save</button>
                        </div>

                        <canvas id = "choroplethMapCanvas" width = "800" height = "470" style = "display: none;"></canvas>
                        <!-- <img id = "choroplethMapImage" style = "display: none;"></img> -->
                    </form>
                </div>

                <!-- Stats -->
                <div ng-show="graphTab == 5">
                    <h3>Metric Equation</h3>
                    <div class="col-xs-7 col-sm-7 col-md-7 well">
                        <textarea id = "metricEquation" rows = "8" cols = "138" style = "resize: none;" x-lvl-drop-target = "true" x-on-drop = "droppedMetric(dragEl, dropEl)"></textarea>

                        <form class = "form-horizontal" role = "form">
                            <div class = "form-group" id = "metricFields">

                            </div>
                        </form>

                        <!-- <textarea ng-model="eqnTextArea" rows="8" cols="117.5"></textarea> -->
                        <div class="submit-button">
                            <a href="" id="statSubmit" class="btn btn-primary btn-success" role="button" ng-click="calculateMetric()" disabled="disabled">Calculate</a>
                            <a href="" id="statClear" class="btn btn-primary btn-danger" role="button" ng-click="clearMetric()">Clear</a>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <img id = "choroplethMapImage"></img>
</div>